#!/bin/sh
# -*- Mode: shell-mode -*-
#
# Installs packages.  Runs only when script changes.
#
mkdir -p $HOME/.local/state/oh-my-zsh $HOME/.tmux/plugins/tpm $HOME/.config/tmux/plugins

# Make sure the following files are created
touch ~/.sesh-local ~/.zshrc-local

# To set up tmux (at least on some machines):
#.   mkdir -p .tmux/plugins/tpm
#.   ln -sv .config/tmux/tmux.conf .tmux.conf
#.   then C-o I

{{ if eq .chezmoi.os "linux" -}}
echo sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
echo brew install ripgrep
{{ end -}}

# uv tool install --force --python python3.12 --with pip aider-chat@latest
